@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  /* Blinking cursor */
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }
  /* step-end makes it blink immediately instead of fading smoothly */
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  /* Glowing Loading Bar */
  @keyframes loading {
    /* at 0% */
    0% {
      transform: translateX(-100%);
    }
    /* at the end of the animation */
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

/*  hidden styles */
.reveal {
  opacity: 0;
  /* start a little bit below it's supposed to be, so that we can have a lift up animation(translateY(0)) when it's visible  */
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
